# gitignore

node_modules
tmp
chaindata
app.data
.DS_Store
ganache.log
db

# Only apps should have lockfiles
package-lock.json
/dist/*
loom.umd.js
/.env.test
/yarn-error.log

e2e_support/app\.db/

e2e_support/evm\.db/

e2e_support/receipts_db/

e2e_support/loom2\.log
