/.vscode/
/dist/tests/
/dist/browser_tests.js
/scripts/
/src/
.babelrc
.editorconfig
.prettierignore
.prettierrc
.travis.yml
.travis_before_install.sh
tsconfig.json
tslint.json
webpack.config.js
webpack.e2e.test.config.js
webpack.unit.tests.config.js
yarn-error.log
yarn.lock