/.vscode/
/dist/tests/
/dist/browser_tests.js
/scripts/
/src/
/tmp/
/e2e_support/
.babelrc
.editorconfig
.prettierignore
.prettierrc
.travis.yml
.travis_before_install.sh
.travis_e2e_test.sh
e2e_tests.sh
tsconfig.json
es2017.tsconfig.json
tslint.json
webpack.config.js
webpack.e2e.test.config.js
webpack.unit.tests.config.js
yarn-error.log
yarn.lock
